* {
	font-family: 'Nanum Gothic Coding', monospace;
}

.main {
	width: 100%;
	height: 100%;
}

.main .box {
	width: 100%;
	max-width:600px;
	margin: 0 auto;
}

h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.quiz {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.quiz-title {
	font-size: 18pt;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 32px;
}

.quiz-answer {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	border: 2px solid #9481b3;
	border-radius: 50px;
	background-color: #492c78;
	font-size: 16pt;
}

.quiz-answer:hover {
	border: 2px solid #78629c;
	background-color: #2e1852;
	cursor: pointer;
}


.quiz-current {
	text-align: center;
	font-size: 15pt;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #888888;
}

.quiz-progress {
	height: 30px;
	margin-top: 20px;
	background-color: #c2c2c2;
	border-radius: 20px;
}

.quiz-progress-box {
	float: left;
	background-color: #a88ac2;
	height: 30px;
	border-radius: 20px;
}

.quiz-progress-value {
	font-size: 20px;
	margin-left: 5px;
	color: black;
	text-align: center;
	display: inline-block
}

.quiz-gameover {
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	color: #888888;
	margin-top: 100px;
}

.quiz-result {
	text-align: center;
	margin: 20px;
	font-size: 20pt;
	color:#888888;
}

.quiz-result span {
	font-weight: bold;
	color: #ffffff;
}

.quiz-buttons {
	text-align: center;
}

.quiz-retry {
	background-color: #66b8ff; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

.quiz-retry:hover {
	background-color: #4398e0;
	cursor: pointer;
}

.quiz-message {
	text-align: center;
	margin: 50px;
	font-size: 18pt;
}