@page "/"
@using BlazorQuiz.Local.Access



@if(MarkDownResult != null)
{
    <div>@MarkDownResult</div>
}
else
{
    <div>Test...</div>
}

@code {
    [Parameter]
    public string MarkDownResult { get; set; }

    protected override Task OnInitializedAsync()
    {
        //MarkDownResult = MarkdownAdapter.Instance.DownloadToHtml("QUIZ");
        MarkDownResult = "Hello James!!";
        return base.OnInitializedAsync();
    }
}