@page "/"  
@using Markdig;
@inject NavigationManager NavManager
@using BlazorQuiz.Local.Access



@if(MarkDownResult != "")
{
    <div>@MarkDownResult</div>
}
else
{
    <div>Test...</div>
}

@code {
    [Parameter]
    public string MarkDownResult { get; set; } = "";

    protected override void OnInitialized()
    {
        MarkDownResult = MarkdownAdapter.Instance.DownloadToHtml("https://github.com/devncore/blazor-authentication/blob/main/README.md?raw=true");
        base.OnInitialized();
    }
}